a {
    text-decoration: none;
}
body{
    background-color: black;
}
// header
.header{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: black;
    justify-content: flex-start;

}

//logo
.header__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 3%;
    
}
.header__logo-text{
    color: white;
    font-weight: 900;
    font-size: 40px;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header__logo-1{
    width: 60px;
    height: 60px;
}
.header__logo-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
//buttons
.header__buttons{
    width: 55%;
    display: flex;
    align-items: center;
    margin-left: 7%;
    justify-content: space-between;
}
.buttons__button{
    cursor: pointer;
    color: white;
    border-radius: 2px;
    // margin-left: 8%;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 24px 10px 24px;

    border-bottom: 4px solid purple;

&:hover{
    background: linear-gradient(45deg, #6157ff, #7e48cd);
}
}
//search
.search-wrapper{
    width: 100%;
    height: 12vh;
    background-color: black;
}
.search-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-search{
    width: 50%;
    height: 50%;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
        font-weight: 500;
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    padding-left: 1%;
}
.search-button{
    cursor: pointer;
    margin: 0 5px;
    height: 50%;
    width: 50px;
    min-width: 20px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: 0;
    background-image: url("../assets/images/search.svg");
    border-radius: 4px;
    
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%) repeat scroll 0% 0%;   
}
.search-button:hover {
    background: rgba(36, 35, 35, 0) linear-gradient(45deg, rgb(98, 19, 177) 0%, rgb(165, 52, 52) 100%) repeat scroll 0% 0%;
  }
.search-button:active {
    outline: none;
    box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
  }
//content
  .content{
      background-color: black;
      min-height: 99.25px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .content__banner{
      width: 71%;
      height: 23vh;
    //   margin: 0 auto;
  }
  .content__banner img{
        width: 100%;
      object-fit: cover;
      object-position: center;
        border-radius: 2px;
  }
//Where Gifs from API upload
  .inner{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
    max-width: 1200px;
    // margin-left: 11%;
    // margin: 0 auto;
  }
  .inner-image{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin: 0 10px 0 10px;
  }
  
//reload
.reload{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 275px;
    height: 4em;
}
.reload-button{
        
        cursor: pointer;
        margin-bottom: 20px;
        // height: 50px;
        // width: 30%;
        width: 100%;
        min-width: 50px;
        font-weight: 600;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        // outline: none;
        border: 0;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%) repeat scroll 0% 0%;   
}
.reload-button:hover {
    background: rgba(36, 35, 35, 0) linear-gradient(45deg, rgb(98, 19, 177) 0%, rgb(165, 52, 52) 100%) repeat scroll 0% 0%;
  }
  
  .reload-button:active {
    outline: none;
    box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
  }


  /* Меню бокового бара */
.sidebar {
    height: 100%; /* 100% Полный рост */
    width: 0; /* 0 ширина - измените это с помощью JavaScript */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Оставайтесь на вершине */
    top: 0;
    right: 0;
    background-color: #111; /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px; /* Поместите содержимое 60px сверху */
    transition: 0.5s; /* 0.5 секунд эффект перехода для скольжения в боковой панели */
  }
  
  /* На боковой панели */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* При наведении курсора мыши на навигационные ссылки измените их цвет */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Кнопка для открытия бокового бара */
  .openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 8px 13px;
    border: none;
    height: 100%;
    width: 100px;
    right: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Стиль содержимого страницы - используйте это, если вы хотите переместить содержимое страницы вправо при открытии боковой навигации */
//   #main {
    /* transition: margin-left 0.5s; Если вы хотите эффект перехода
    padding: 20px; */
    
//   }
  

  #main, #mySidebar{
    display: none;
}
@media (max-width: 1082px) {
    .inner-image {
        width: 140px;
        height: 140px;
    }
  }
  @media (max-width: 785px) {
    #main, #mySidebar{
        display: block;
    }
    .header__buttons{
        display:none;
    }
    .content__banner{
          width: 85%;
      }
    .inner{
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .inner-image {
        width: 100px;
        height: 100px;
    }
    .header{
        justify-content: space-between;
    }
  }